{% extends "layouts/master.html" %}

{% load static %}

{% block title %}
Menu | CREATE
{% endblock %}

{% block custom_css %}
<link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ title }}</h1>
    <hr>
    <a class="btn btn-secondary col-12 mb-3" href="{% url 'menu-list' %}">Back</a>
    <div class="card p-5">
        <form action="{% url 'menu-add' %}" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <!-- # yesma ako form views ko {yo vitra ko form ho} -->
            <input class="btn btn-sm btn-primary" type="submit" value="Add Category">
        </form>
    </div>
</div>
{% endblock %}